In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv("D:/[APPLIED] GATE/[CodingNinjas] All Courses/[Coding Ninjas] Machine Learning and Data Science/12. Lecture 12 - Pandas/16-17 & 19/iris.csv")

In [3]:
cp = iris.copy()

In [4]:
cp.head() ## Setosa Versicolor Virginica

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
cp.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
print(cp.shape)
print(cp.dtypes)
print(cp.columns)

(150, 5)
sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object
Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

## Count of Flower

In [7]:
variety_Setosa = cp[cp.variety == "Setosa"]

variety_Versicolor = cp[cp.variety == "Versicolor"]

variety_Virginica = cp[cp.variety == "Virginica"]

print(len(variety_Setosa), len(variety_Versicolor), len(variety_Virginica))

50 50 50

## Its Virginica

In [8]:
variety_virginica = variety_Virginica[variety_Virginica['petal.length']> 1.5]
print(variety_virginica)

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
106           4.9          2.5           4.5          1.7  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
110           6.5          3.2           5.1          2.0  Virginica
111           6.4          2.7           5.3          1.9  Virginica
112           6.8          3.0           5.5          2.1  Virginica
113           5.7          2.5           5.0          2.0  Virginica
114           5.8          2.8           5.1          2.4  Virginica
115           6.4          3.2           5.3          2.3  Virginica
116           6.5          3.0           5.5          1.8  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
119           6.0          2.2           5.0          1.5  Virginica
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

## Iris Value

In [9]:

sl1_min = variety_Setosa["sepal.length"].min()
sw1_min = variety_Setosa["sepal.width"].min()
pl1_min = variety_Setosa["petal.length"].min()
pw1_min = variety_Setosa["petal.width"].min()
vr1_min = variety_Setosa["variety"].min()

sl1_max = variety_Setosa["sepal.length"].max()
sw1_max = variety_Setosa["sepal.width"].max()
pl1_max = variety_Setosa["petal.length"].max()
pw1_max = variety_Setosa["petal.width"].max()
vr1_max = variety_Setosa["variety"].max()

sl1_avg = variety_Setosa["sepal.length"].mean()
sw1_avg = variety_Setosa["sepal.width"].mean()
pl1_avg = variety_Setosa["petal.length"].mean()
pw1_avg = variety_Setosa["petal.width"].mean()
# vr1_avg = variety_Setosa["variety"].mean()

sl2_min = variety_Versicolor["sepal.length"].min()
sw2_min = variety_Versicolor["sepal.width"].min()
pl2_min = variety_Versicolor["petal.length"].min()
pw2_min = variety_Versicolor["petal.width"].min()
vr2_min = variety_Versicolor["variety"].min()

sl2_max = variety_Versicolor["sepal.length"].max()
sw2_max = variety_Versicolor["sepal.width"].max()
pl2_max = variety_Versicolor["petal.length"].max()
pw2_max = variety_Versicolor["petal.width"].max()
vr2_max = variety_Versicolor["variety"].max()

sl2_avg = variety_Versicolor["sepal.length"].mean()
sw2_avg = variety_Versicolor["sepal.width"].mean()
pl2_avg = variety_Versicolor["petal.length"].mean()
pw2_avg = variety_Versicolor["petal.width"].mean()
# vr2_avg = variety_Versicolor["variety"].mean()

sl3_min = variety_Virginica["sepal.length"].min()
sw3_min = variety_Virginica["sepal.width"].min()
pl3_min = variety_Virginica["petal.length"].min()
pw3_min = variety_Virginica["petal.width"].min()
vr3_min = variety_Virginica["variety"].min()

sl3_max = variety_Virginica["sepal.length"].max()
sw3_max = variety_Virginica["sepal.width"].max()
pl3_max = variety_Virginica["petal.length"].max()
pw3_max = variety_Virginica["petal.width"].max()
vr3_max = variety_Virginica["variety"].max()

sl3_avg = variety_Virginica["sepal.length"].mean()
sw3_avg = variety_Virginica["sepal.width"].mean()
pl3_avg = variety_Virginica["petal.length"].mean()
pw3_avg = variety_Virginica["petal.width"].mean()
# vr3_avg = variety_Virginica["variety"].mean()


print(sl1_min, sw1_min, pl1_min, pw1_min, vr1_min)
print(sl1_max, sw1_max, pl1_max, pw1_max, vr1_max)
print(sl1_avg.round(2), sw1_avg.round(2), pl1_avg.round(2), pw1_avg.round(2), vr1_max)

print(sl2_min, sw2_min, pl2_min, pw2_min, vr2_min)
print(sl2_max, sw2_max, pl2_max, pw2_max, vr2_max)
print(sl2_avg.round(2), sw2_avg.round(2), pl2_avg.round(2), pw2_avg.round(2), vr2_max)


print(sl3_min, sw3_min, pl3_min, pw3_min, vr3_min)
print(sl3_max, sw3_max, pl3_max, pw3_max, vr3_max)
print(sl3_avg.round(2), sw3_avg.round(2), pl3_avg.round(2), pw3_avg.round(2), vr3_max)

4.3 2.3 1.0 0.1 Setosa
5.8 4.4 1.9 0.6 Setosa
5.01 3.43 1.46 0.25 Setosa
4.9 2.0 3.0 1.0 Versicolor
7.0 3.4 5.1 1.8 Versicolor
5.94 2.77 4.26 1.33 Versicolor
4.9 2.2 4.5 1.4 Virginica
7.9 3.8 6.9 2.5 Virginica
6.59 2.97 5.55 2.03 Virginica

# Terrorism  Data

In [10]:
td = pd.read_csv("D:/[APPLIED] GATE/[CodingNinjas] All Courses/[Coding Ninjas] Machine Learning and Data Science/12. Lecture 12 - Pandas/24. Assignment/terrorismData.csv")

In [11]:
td.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [12]:
td.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,1570.000000,8191.000000

In [13]:
td.tail()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives